html,
body{
    height: 100%;
}

.banner {
    height: 100vh;
    /* Background image*/
    background: url("../assets/images/cover/cover_1.jpg") fixed center no-repeat;
    background-size: cover;
}
